.header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  padding: 3vh 5vh 0;
  position: relative;
  box-sizing: border-box;
  background-color: rgb(10, 28, 5);
  background-size: cover;
  background-position: center;
}

.header__video {
  position: absolute;
  width: 80%;
  height: min-content;
  max-width: 2000px;
  top: 15vh;
  left: 10vw;
}

.header__title {
  max-width: 729px;
  margin: auto auto 0;
  font-weight: 500;
  font-size: 80px;
  line-height: 72px;
  letter-spacing: -0.6px;
  font-family: "Rubik Glitch", Arial, sans-serif;
  color: orange;
  text-decoration: underline;
  z-index: 1;
}

.header__subtitle {
  max-width: 683px;
  margin: 24px auto auto;
  font-size: 25px;
  line-height: 30px;
  color: #fff;
  z-index: 1;
}

@media screen and (orientation: portrait) {
  .header {
    height: 100vmax;
    background-image: linear-gradient(white, black);
  }

  .header__title {
    width: min-content;
  }

  .header__video {
    opacity: 0;
  }
}
