.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 1;
}

.nav__logo {
  width: 5vw;
  width: 5vw;
}

.nav__menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
}

.nav__links {
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: space-between;
  list-style-type: none;
  visibility: hidden;
  margin: 0;
}

.nav__links_opened {
  visibility: visible;
}

.nav__link {
  color: white;
  font-family: "Rubik Glitch", Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
  margin-bottom: 80px;
  transition: color 0.5s linear;
  transition: font-size 0.5s linear;
}

.nav__link:hover {
  color: orange;
  font-size: 30px;
  text-decoration: underline;
}

.nav__menu-btn {
  background-image: url(../images/hamburger\ icon.png);
  background-size: cover;
  width: 50px;
  height: 50px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  visibility: visible;
  position: absolute;
  left: 90%;
}

@media screen and (max-width: 600px) {
  .nav__links {
    display: block;
    margin-top: 0;
    text-align: end;
    text-decoration: underline;
  }

  .nav__logo {
    width: 5vh;
    height: 5vh;
  }
}
