.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  font-size: 16px;
  line-height: 20px;
  font-family: "Inter", serif;
}

.header {
  display: flex;
  flex-direction: column;
  height: 800px;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
  background-color: black;
  background-image: url(/images/coverpic.jpg);
  background-size: cover;
  background-position: center;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__links {
  display: flex;
  list-style-type: none;
}

.nav__link {
  color: black;
  text-decoration: none;
  margin-left: 100px;
  transition: color 0.5s linear;
}

.nav__link:hover {
  color: orange;
}

.header__title {
  max-width: 729px;
  margin: 250px auto 0 auto;
  font-weight: 500;
  font-size: 80px;
  line-height: 72px;
  letter-spacing: -0.6px;
  font-family: "Rubik Glitch", Arial, sans-serif;
}

.header__subtitle {
  max-width: 683px;
  margin: 24px auto 0;

  font-size: 25px;
  line-height: 30px;
  color: #fff;
}

.content {
}

.contact {
  display: flex;
  flex-direction: column;
  height: 800px;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
  background-color: black;
  background-size: cover;
  background-position: center;
}

.contact__form {
  background-color: #fff;
}

.footer {
}
